# Ejercicio Clases y Objetos

In [179]:
class Ubicacion:

    def __init__(self, departamento, seccion, subseccion):
        self.departamento = departamento
        self.seccion = seccion
        self.subseccion = subseccion
        print("El departamento, la sección, la subsección y la ubicación se han creado correctamente")

    def print_departamento(self):
        print("El departamento creado es: {}".format(self.departamento))

    def print_seccion(self):
        print("La seccion creada es: {}".format(self.seccion))

    def print_subseccion(self):
        print("La subsección creada es: {}".format(self.subseccion))

    def print_ubicacion(self):
        print(" La ubicación del artículo es:\n Departamento: {} \n Sección: {}\n Subsección: {}".format(self.departamento, self.seccion, self.subseccion))

class Articulo(Ubicacion):

    def __init__(self, departamento, seccion, subseccion, nombre, marca, precio):
        super().__init__(departamento, seccion, subseccion)
        self.nombre = nombre
        self.marca = marca
        self.precio = precio
        print("El nombre, marca y precio del artículo se han creado correctamente")

    def print_article(self):
        print(" El artículo se encuentra en:\n El departamento de {} \n La sección es {}\n La subsección es {}\n El nombre es {}\n La marca es {}\n El precio es {}".format(self.departamento, self.seccion, self.subseccion, self.nombre, self.marca, self.precio))

In [183]:
jersey_liverpool = Articulo("Deportes", "Ropa", "Jerseys", "Liverpool", "Nike", "1300")

El departamento, la sección, la subsección y la ubicación se han creado correctamente
El nombre, marca y precio del artículo se han creado correctamente

In [185]:
jersey_liverpool.print_departamento()

El departamento creado es: Deportes

In [191]:
jersey_liverpool.print_seccion()

La seccion creada es: Ropa

In [193]:
jersey_liverpool.print_subseccion()

La subsección creada es: Jerseys

In [195]:
jersey_liverpool.print_ubicacion()

 La ubicación del artículo es:
 Departamento: Deportes
 Sección: Ropa
 Subsección: Jerseys

In [197]:
jersey_liverpool.print_article()

 El artículo se encuentra en:
 El departamento de Deportes
 La sección es Ropa
 La subsección es Jerseys
 El nombre es Liverpool
 La marca es Nike
 El precio es 1300

In [199]:
laptop_elite = Articulo("Electrónicos", "Computo", "Laptops", "Elite Notebook", "HP", "21000")

El departamento, la sección, la subsección y la ubicación se han creado correctamente
El nombre, marca y precio del artículo se han creado correctamente

In [203]:
laptop_elite.print_departamento()

El departamento creado es: Electrónicos

In [205]:
laptop_elite.print_seccion()

La seccion creada es: Computo

In [207]:
laptop_elite.print_subseccion()

La subsección creada es: Laptops

In [177]:
laptop_elite.print_ubicacion()

 La ubicación del artículo es:
 Departamento: Electrónicos
 Sección: Computo
 Subsección: Laptops

In [209]:
laptop_elite.print_article()

 El artículo se encuentra en:
 El departamento de Electrónicos
 La sección es Computo
 La subsección es Laptops
 El nombre es Elite Notebook
 La marca es HP
 El precio es 21000